.icon {
    height: 4vw;
    width: 6vw;
    display: flex;
    margin-left: 150px;
    float: left;
}

.icon2 {
    display: flex;
    height: 4.3vw;
    width: 5vw;
    justify-content: center;
    flex-direction: column;
    float: left;
    margin-left: 10px;
}

.icon3 {
    display: flex;
    height: 4vw;
    width: 4vw;
    justify-content: center;
    flex-direction: column;
    float: left;
    margin-left: 10px;
}